@font-face {
  font-family: starTrek;
  src: url(../content/TNG_Title.ttf);
}

.footerContainer {
    background: #696969; /* Old browsers */
    background: -moz-linear-gradient(top, #696969 0%, #111112 44%, #363434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363636), color-stop(44%,#111112), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #696969 0%,#111112 44%,#363636 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #696969 0%,#111112 44%,#363636 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #696969 0%,#111112 44%,#363636 100%); /* IE10+ */
    background: linear-gradient(to top, #696969 0%,#111112 44%,#363636 100%); /* W3C */
	color:#FFF;
	font-size:2em;
	border-radius:4px;
	border:1px solid #696969;
	transition: all 0.3s linear;
}

.footerContainer:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.mainNav {
	 display: flex;
	 list-style: none;
	 font-size: 0.7em; 
	 margin: 0;
	 height: 2em;
	 align-items: center;
	 font-family: starTrek;
     justify-content: center;
}

@media only screen and (max-width: 600px) {
    .mainNav {
        font-size: 0.5em;
        padding: 0;
    }
}

.mainNav > li {
    color: #f5f6f5;
    text-decoration: none;
    padding: 20px;
}

.push {
    margin-left: auto;
}
